*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #121212;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-width: 100vh;
    color: white;
    overflow: hidden;
}
/* loader */
#intro{
    position: fixed;
    inset: 0;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.netflix-style{
    font-size: 150px;
    letter-spacing: 12px;
    color: #1db954;
    /* text-shadow: 0 0 0px #1db954;
    opacity: 0; */
}
.netflix-style span{
    opacity: 0;
    display: inline-block;
}
.icon-circle{
  width:130px;
  height:130px;
  background:#1db954;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  opacity:0;
  position: absolute;
}
.icon-circle i{
    font-size: 50px;
    color: black;
}
.music-icon{
    font-size: 80px;
    color: #1db954;
    opacity: 0;
    position: absolute;
}
.head-icon{
    font-size: 80px;
    color: #1DB954;
    opacity: 0;
    position: absolute;
}
#logincontent{
    opacity: 0;
    color: white;
}
/* Main login box  */
.login{
    background: #181818;
    padding: 40px;
    width: 380px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
}
.logo{
    text-align: center;
    margin-bottom: 50px;
    transform: translateY(40px);
}
.logo i{
    font-size: 50px;
    color: #1db954;
    margin-bottom: 15px;
}
.logo h1{
    font-size: 30px;
}
.login-page{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}
.login-page input{
    padding: 12px;
    border-radius: 5px;
    border: noe;
    background: #282828;
    color: white;
    font-size: 14px;
}
.login-page input:focus{
    outline: 2px solid #1db954;
}
.login-page button{
    padding: 12px;
    border: none;
    border-radius: 25px;
    background: #1db954;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.login-page button:hover{
    background: #1ed760;
}
/* page slide ka aimation  */
#tearOverlay{
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 5000;
  display: none;
}

#tearOverlay .left,
#tearOverlay .right{
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #1db954;
}

#tearOverlay .left{
  left: 0;
  clip-path: polygon(
    0 0, 95% 0, 100% 5%, 95% 10%, 100% 15%, 95% 20%,
    100% 25%, 95% 30%, 100% 35%, 95% 40%, 100% 45%,
    95% 50%, 100% 55%, 95% 60%, 100% 65%, 95% 70%,
    100% 75%, 95% 80%, 100% 85%, 95% 90%, 100% 95%,
    95% 100%, 0 100%
  );
}

#tearOverlay .right{
  right: 0;
  clip-path: polygon(
    5% 0, 100% 0, 100% 100%, 5% 100%, 0 95%, 5% 90%,
    0 85%, 5% 80%, 0 75%, 5% 70%, 0 65%, 5% 60%,
    0 55%, 5% 50%, 0 45%, 5% 40%, 0 35%, 5% 30%,
    0 25%, 5% 20%, 0 15%, 5% 10%, 0 5%
  );
}
.login p{
    text-align:center;
    margin:20px 0;
    color:#aaa;
}

/* Social Buttons */
.another{
    display:flex;
    flex-direction:column;
    gap:12px;
}

.fb-btn{
    background:transparent;
    border:1px solid #555;
    color:white;
    padding:12px;
    border-radius:25px;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
    cursor:pointer;
    transition:0.3s;
}

.fb-btn:hover{
    border:1px solid white;
    transform:scale(1.03);
}

/* Signup */
.signup{
    text-align:center;
    margin-top:25px;
}

.signup h3{
    font-size:14px;
    color:#aaa;
}

.signup a{
    color:#1DB954;
    text-decoration:none;
    font-weight:bold;
}

.signup a:hover{
    text-decoration:underline;
}

/* Footer */
.foot{
    margin-top:20px;
    width:380px;
    text-align:center;
    font-size:11px;
    color:#777;
}

.foot span{
    color:white;
    cursor:pointer;
}

.foot span:hover{
    text-decoration:underline;
}