html{
  scroll-behavior:smooth;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  background:#121212;
  color:white;
}

/* HERO SECTION */
.support-hero{
  background:#121212;
  padding:120px 20px;
  text-align:center;
  color: #fff;
}
.support-title{
  font-size:64px;
  font-weight:800;
  letter-spacing:3px;
  margin-bottom:40px;
  color:#1db954;
  text-shadow:0 0 20px rgba(29,185,84,0.6);
}
.search-box input{
  width: 400px;
  height: 100px;
  padding:18px 20px;
  border-radius:8px;
  border:none;
  font-size:18px;
  outline:none;
  box-shadow:0 8px 20px rgba(13, 202, 231, 0.4);

  transition:0.3s ease;
}


/* CATEGORY SECTION */
.support-categories{
  padding:80px 40px;
  display:flex;
  justify-content:center;
  gap:30px;
  flex-wrap:wrap;
}

.support-card{
  background:#1e1e1e;
  padding:30px;
  width:260px;
  border-radius:15px;
  transition:0.3s;
  cursor:pointer;
}

.support-card:hover{
  transform:translateY(-10px);
  box-shadow:0 0 20px #1db954;
}

.support-card h3{
  margin-bottom:10px;
  color:#1db954;
}

.support-card p{
  color:#ccc;
}